@font-face {
  font-family: 'Helvetica Neue Bold';
  font-weight: 500 600 700 800;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url(/fonts/HelveticaNeueBold.ttf) format('truetype');
}
@font-face {
  font-family: 'SerialB';
  src: url('/fonts/SerialB/SerialB-Black.ttf');
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: 'SerialB';
  src: url('/fonts/SerialB/SerialB-BoldBlur.ttf');
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: 'SerialB';
  src: url('/fonts/SerialB/SerialB-RegularBlur.ttf');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'SerialB';
  src: url('/fonts/SerialB/SerialB-Light.ttf');
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: 'SerialB';
  src: url('/fonts/SerialB/SerialB-Thin.ttf');
  font-weight: 200;
  font-display: block;
}
@font-face {
  font-family: 'League-Gothic';
  src: url('/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf');
  font-stretch: 25% 175%;
  font-display: block;
}
