@font-face {
  font-family: 'SerialB';
  src: url('../../public/fonts/SerialB-RegularBlur.ttf');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'SerialB';
  src: url('../../public/fonts/SerialB-Light.ttf');
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: 'SerialB';
  src: url('../../public/fonts/SerialB-Thin.ttf');
  font-weight: 200;
  font-display: block;
}

:root {
  overflow-x: hidden;
}
body {
  position: relative;
  overflow-x: hidden;
}
.mainBody {
  border-top: 1px solid orange;
}
