header h1 {
  position: relative;
  font-size: 2.5rem;
  color: var(--theme-ui-colors-background);
  font-family: 'League-Gothic';
  letter-spacing: 0.07rem;
}
header h1::before {
  --paint-width: calc(100% + 2rem);
  --paint-height: 150%;
  content: '';
  position: absolute;
  top: calc((var(--paint-height) - 100%) / 2 * -1);
  left: calc((var(--paint-width) - 100%) / 2 * -1);
  width: var(--paint-width);
  height: var(--paint-height);
  background-image: url(../images/paint-stroke.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  filter: brightness(0) saturate(100%) invert(73%) sepia(68%) saturate(298%)
    hue-rotate(1deg) brightness(97%) contrast(89%);
  z-index: -1;
}

.hamburger-react {
  position: relative;
  color: var(--theme-ui-colors-background);
  font-size: 0.5rem;
}
.hamburger-react::before {
  --menu-bg-width: 110%;
  content: '';
  position: absolute;
  top: calc((var(--menu-bg-width) - 100%) / 2 * -1);
  left: calc((var(--menu-bg-width) - 100%) / 2 * -1);
  width: var(--menu-bg-width);
  height: var(--menu-bg-width);
  border-radius: 50%;
  background: var(--theme-ui-colors-text);
  z-index: -1;
}
