.homeContact-wrapper {
  padding: 10rem 0;
}
.homeContact-wrapper > p {
  /* margin: 0 auto; */
  margin: 0;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
.homeContact-wrapper > p:first-of-type {
  margin-left: -1.6rem;
}
.homeContact-wrapper > p:not(:first-of-type) {
  margin-left: 1.6rem;
}
.homeContact-wrapper > p:first-of-type {
  margin-bottom: -0.7rem;
}
