.landing {
  --video-width: 110vw;
  --max-video-width: 700px;
  --video-top-offset: 50px;
  position: relative;
  min-height: 100vh;
  border: 1px solid transparent; /* this prevents extra space at bottom of Landing */
}
@media only screen and (min-width: 850px) {
  .landing {
    --video-width: calc(600px + 18vw);
    --max-video-width: 906px;
    --video-top-offset: -35px;
  }
}

/* INFO TEXT START */
.landing-infoWrapper {
  padding: 0 1.3rem 2rem;
  margin: auto;
  margin-top: calc(
    var(--video-top-offset) + min(var(--video-width), var(--max-video-width)) -
      40px
  );
  width: fit-content;
  text-align: left;
}
.landing h1 {
  position: relative;
  margin: 0 auto 0.5rem;
  padding: 0 0.7rem;
  width: fit-content;
  font-family: 'League-Gothic';
  font-size: min(calc(1.5rem + 4vw), 100px);
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: var(--theme-ui-colors-background);
  z-index: 1;
}
.landing h1::before {
  --paint-size: 120%;
  content: '';
  position: absolute;
  top: calc((var(--paint-size) - 100%) / 2 * -1 - 0.1rem);
  left: calc((var(--paint-size) - 100%) / 2 * -1);
  width: var(--paint-size);
  height: var(--paint-size);
  background-image: url(../images/paint-stroke.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  filter: brightness(0) saturate(100%) invert(73%) sepia(68%) saturate(298%)
    hue-rotate(1deg) brightness(97%) contrast(89%);
  z-index: -1;
}
.landing p {
  position: relative;
  margin: auto;
  max-width: 75ch;
  text-align: center;
  font-size: calc(20px + 1vw);
  font-family: 'League-Gothic';
  font-weight: 400;
  z-index: 1;
  letter-spacing: 0.015em;
}
.landing p > a {
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: inherit;
}
.landing-emphasis {
  font-weight: bold;
  font-family: 'SerialB';
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-size: min(calc(18px + 0.6vw), 30px);
}
@media only screen and (min-width: 850px) {
  .landing-infoWrapper {
    margin-right: 0%;
    margin-top: min(20vw, 22vh);
    padding-right: 2.2rem;
  }
  .landing p {
    font-size: min(calc(15px + 1vw), 35px);
  }
}
@media only screen and (min-width: 1000px) {
  .landing-infoWrapper {
    margin-right: 6%;
    padding: inherit;
  }
}
/* INFO TEXT END */

/* VIDEO START */
.landing-videoWrapper {
  position: absolute;
  top: var(--video-top-offset);
  left: calc((100vw - min(var(--video-width), var(--max-video-width))) / 2);
  height: var(--video-width);
  width: var(--video-width);
  max-width: var(--max-video-width);
  max-height: var(--max-video-width);
  box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.12);
  overflow: hidden;
  border-radius: 50%;
}
.landing-videoWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.25);
}
.landing-video {
  position: relative; /* this keeps Bennet's name on top of video */
  width: 178%; /* this makes video's rectangular aspect ratio fill circle vertically */
  height: 100%;
  left: -39.5%;
  object-fit: cover;
  border-radius: 1000rem;
  z-index: -1;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.landing-videoLink {
  position: relative;
  left: calc(50% - 4.5ch - 18px); /* 18px = left padding + border */
  top: -90%;
  width: fit-content;
  z-index: 1;
}
.landing-videoLink::before {
  --clr-dark: 33;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(var(--clr-dark), var(--clr-dark), var(--clr-dark), 0.7);
  border-radius: 5rem;
  z-index: -1;
}
.landing-videoLink a > button {
  font-size: min(max(calc(15px + 1vw), 18px), 24px);
}
@media only screen and (min-width: 850px) {
  .landing-videoWrapper {
    /* left: 50%; */
    left: auto;
    right: 50%;
  }
  .landing-videoLink {
    top: -8rem;
  }
}
/* VIDEO END */

/* CHEVRON START */
.landing-chevronWrapper {
  display: none;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  animation: 2s infinite chevron;
}
@keyframes chevron {
  0%,
  32% {
    transform: translateY(0);
  }
  42%,
  58% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0.7rem);
  }
  68%,
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 850px) {
  .landing-chevronWrapper {
    display: block;
  }
}
/* CHEVRON END */
