.landing {
  --video-width: 110vw;
  --max-video-width: 975px;
  --video-top-offset: 70px;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* min-height: var(--video-width); */
  min-height: 100vh;
  border: 1px solid transparent; /* this prevents extra space at bottom of Landing */
  /* border: 1px solid orange; */
}
.landing > * {
  /* border: 1px solid black; */
}
@media only screen and (min-width: 1250px) {
  .landing {
    --video-width: 72vw;
    --video-top-offset: -115px;
  }
}

/* LOGO COVER START */
.landing-logoCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 4rem;
  background: var(--theme-ui-colors-background);
  z-index: 100;
}
@media only screen and (min-width: 1250px) {
  .landing-logoCover {
    width: 35%;
    height: 8rem;
  }
}
/* LOGO COVER END */

/* INFO TEXT START */
.landing-infoWrapper {
  /* margin-left: 1.3rem; */
  padding: 0 1.3rem 2rem;
  margin-top: calc(var(--video-top-offset) + var(--video-width) - 40px);
  width: fit-content;
  text-align: left;
}
.landing h1 {
  position: relative;
  margin: 0 auto 1rem;
  padding: 0 0.7rem;
  width: fit-content;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--theme-ui-colors-background);
  /* background: var(--theme-ui-colors-text); */
  z-index: 1;
}
.landing h1::before {
  --paint-size: 120%;
  content: '';
  position: absolute;
  top: calc((var(--paint-size) - 100%) / 2 * -1);
  left: calc((var(--paint-size) - 100%) / 2 * -1);
  width: var(--paint-size);
  height: var(--paint-size);
  background-image: url(../images/paint-stroke.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  filter: brightness(0) saturate(100%) invert(73%) sepia(68%) saturate(298%)
    hue-rotate(1deg) brightness(97%) contrast(89%);
  z-index: -1;
}
.landing p {
  position: relative;
  /* margin-top: -2rem; */
  margin: auto;
  max-width: 63ch;
  text-align: center;
  font-size: 1.5em;
  /* font-family: 'SerialB'; */
  font-family: 'Xband-Rough';
  font-weight: 400;
  letter-spacing: -0.05rem;
  z-index: 1;
}
/* .landing p {
  --circle-text-width: 45ch;
  margin: -2rem auto 0;
  width: var(--circle-text-width);
  height: var(--circle-text-width);
  text-align: justify;
  font-size: 1.4em;
  font-family: 'SerialB';
  font-weight: 200;
  border-radius: 50%;
  overflow: hidden;
}
[aria-hidden='true'] {
  display: contents;
}
[aria-hidden='true']::before,
[aria-hidden='true']::after {
  content: '';
  float: left;
  width: 50%;
  height: 100%;
  --bite: radial-gradient(
    farthest-side at var(--pos-x, 100%),
    transparent 100%,
    red
  );
  -webkit-shape-outside: var(--bite);
  shape-outside: var(--bite);
}
[aria-hidden='true']::after {
  --pos-x: 0;
  float: right;
} */
.landing p > a {
  font-weight: bold;
  text-decoration: underline;
}
.landing-emphasis {
  font-weight: bold;
  font-family: 'SerialB';
  text-transform: uppercase;
}
/* .landing-textAndContactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
} */
@media only screen and (min-width: 1250px) {
  .landing-infoWrapper {
    margin-left: 8%;
    margin-top: 25vh;
    padding: inherit;
  }
  .landing h1 {
    font-size: 4.8rem;
    letter-spacing: 0.05rem;
  }
}
/* INFO TEXT END */

/* VIDEO START */
.landing-videoWrapper {
  position: absolute;
  top: var(--video-top-offset);
  left: calc(0% - (var(--video-width) - 100vw) / 2);
  height: var(--video-width);
  width: var(--video-width);
  max-width: var(--max-video-width);
  max-height: var(--max-video-width);
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 50%;
}
.landing-videoWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
}
.landing-video {
  position: relative; /* this keeps Bennet's name on top of video */
  width: 178%;
  height: 100%;
  left: -39.5%;
  object-fit: cover;
  /* object-position: center; */
  border-radius: 1000rem;
  z-index: -1;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.landing-videoLink {
  position: relative;
  left: calc(50% - 4.5ch - 18px); /* 18px = left padding + border */
  top: -90%;
  width: fit-content;
  z-index: 1;
}
.landing-videoLink::before {
  --clr-dark: 33;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(var(--clr-dark), var(--clr-dark), var(--clr-dark), 0.7);
  border-radius: 5rem;
  z-index: -1;
}
@media only screen and (min-width: 1250px) {
  .landing-videoWrapper {
    top: var(--video-top-offset);
    left: 43%;
  }
  .landing-videoLink {
    top: -10rem;
  }
}
/* VIDEO END */

/* CHEVRON START */
.landing-chevronWrapper {
  display: none;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  animation: 2s infinite chevron;
}
.landing-chevronWrapper > i {
  padding: 0 0.5rem;
  /* background: var(--theme-ui-colors-text);
  color: var(--theme-ui-colors-background); */
}
@keyframes chevron {
  0%,
  32% {
    transform: translateY(0);
  }
  42%,
  58% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0.7rem);
  }
  68%,
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 1250px) {
  .landing-chevronWrapper {
    display: block;
  }
}
/* .landing-chevronWrapper img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  fill: red;
  stroke: red;
  filter: invert(73%) sepia(75%) saturate(280%) hue-rotate(359deg)
    brightness(96%) contrast(90%);
} */
/* CHEVRON END */
