.landing {
  --video-width: 72vw;
  --max-video-width: 950px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--video-width);
  max-height: 100vh;
  border: 1px solid orange;
}
.landing > * {
  /* width: 50%; */
  /* margin-left: -20px; */
  border: 1px solid black;
}
.landing-infoWrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  /* margin-top: 15rem; */
  margin-left: -50%;
  text-align: left;
}
.landing h1 {
  width: fit-content;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--theme-ui-colors-background);
  background: var(--theme-ui-colors-text);
}
.landing p {
  max-width: 50ch;
}
.landing-emphasis {
  font-weight: bold;
  text-transform: uppercase;
}

.landing-videoWrapper {
  position: absolute;
  top: -70px;
  left: 40%;
  /* height: 20rem;
  width: 20rem; */
  height: var(--video-width);
  width: var(--video-width);
  max-width: var(--max-video-width);
  max-height: var(--max-video-width);
  /* background: red; */
  /* border-radius: 1rem; */
}
.landing-videoWrapper video {
  position: relative;
  /* left: -25%;
  top: -25%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1000rem;
  z-index: -1;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
